#horosh {
    border-radius: 100%;
}
.house {
    text-decoration: none;
    color:blue ;
}
.house2 {
    text-decoration: none;
    color: green ;

}
#YouTube {
    text-decoration: none;
    color: red;
}
